footer
	+gradient(0deg, $preto ,transparent)

	p
		text-align: center
		display: inline-block
		float: middle 
		margin: 63px 0
		font-weight: $bold
		color: $branco


	.direitos
		position: bottom
		width: auto
		height: auto

	.faixa-rodape
		width: auto
		height: auto
		text-align: center

	li
		display: inline-block	
		float: right
		font-size: 60px
		color: $branco
		margin: 30px 10px 0
		width: auto
		height: auto

	.logo-rodape
		img
			width: 110px
			height: 110px
			display: block
			margin: 20px auto
			float: left
