section.container
	
	.sobre
		color: $preto
		+flexbox
		text-align: center
		+align-items(center)
		+make-sm-column(8)
		+make-sm-column-offset(2)
		margin: 30px auto 10px
		height:  auto
		background: 
			color: #CBCBCB

	a
		+flexbox
		+align-items(center)
		+make-sm-column(2)
		+make-sm-column-offset(8)
		color: $branco
		font-weight: $bold
		font-size: 16px
		height: 25px
		width: 400px
		background:
			color: #676767

	.produtos
		+flexbox
		+justify-content(space-around)
		+make-sm-column(8)
		+make-sm-column-offset(2)
		margin: 30px 0
		height: auto
		width: auto
		text-align: center
		
		a
			text-align: middle
			color: $branco
			font-weight: $bold
			font-size: 16px
			height: 25px
			width: 220px
			background:
				color: #676767
			margin: auto 10px

		[class^="produto-"]
			width: 240px


		[class^="texto-"]
			color: $preto
			margin: 10px 10px
			width: 220px
			height: 340px
			background-color: #CBCBCB

		img
			width: 220px
			height: 120px
			margin: 4px auto
			background:
				color: #CBCBCB

